<launch>

<param name="use_sim_time" value="true"/>

<node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0.0 0 0 0 map odom 1000" />
<node pkg="tf" type="static_transform_publisher" name="base_to_world" args="0 0 0.0 0 0 0 base_link world 1000" />
<node pkg="tf" type="static_transform_publisher" name="base_to_openni" args="0 0 0.0 0 0 0 base_link openni_rgb_optical_frame 1000" />

  <node pkg="obstacle_detection" type="obstacleDetection" name="obstacleDetection" output="screen">
    <param name="minimum_range" value="0.0"  /> 
    <param name="maximum_range" value="0.5"  /> 
  </node>


<include file="$(find depth_image_proc)/launch/test.launch">
  </include> 

<include file="$(find gmapping)/launch/slam_gmapping_pr2.launch">
  </include> 


<node pkg="tf" type="static_transform_publisher" name="base_link_to_velodyne" args="0 0 0.0 0 0 0 base_link velodyne 1000" />

</launch>
