<launch>

  <param name="use_sim_time" value="true"/>

  <arg name="rviz_config" default="$(find obstacle_detection)/launch/obstacle_view.rviz"/>  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)" />
  
  <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0.0 0 0 0 map odom 100" />
  <node pkg="tf" type="static_transform_publisher" name="base_to_camera" args="0 0 0.0 0 0 0 base_link camera_link 100" />
  <node pkg="tf" type="static_transform_publisher" name="base_to_laser" args="0 0 0.0 0 0 0 base_link laser 100" />
  
  <node pkg="obstacle_detection" type="obstacleDetection" name="obstacleDetection" output="screen">
    <param name="minimum_range" value="0.0"  /> 
    <param name="maximum_range" value="2.0"  /> 
    <param name="voxel_size" value="0.05"  /> 
  </node>

  <include file="$(find depth_image_proc)/launch/pointcloud.launch">
  </include> 

  <include file="$(find amcl)/examples/amcl_diff.launch">
  </include> 
</launch>
